body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/backgroundCity.jpg');
    background-size: cover;
}
header {
    background-image: url('../images/header.jpg');
    background-color: rgba(0, 0, 0, 0.5); /* Fundo opaco com 50% de opacidade */
    background-size: cover;
    background-position: center;
    height: 200px;
    text-align: center;
    color: white;
    padding-top: 50px;
}
nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
nav a {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 0 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.column {
    position: center;
    flex: 1;
    /* padding: 20px; */
    padding: 25px 50px 75px 100px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin: 0 10px;
}
p.a {
    border-style: dotted;
}
p.b {
    border-style: outset;
}
p.c {
    border-style: inset;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}
.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}
.job {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
.job-title {
    font-size: 1.2em;
    margin: 0;
}
.job-company {
    color: #555;
}
.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.back-button:hover {
    background-color: #45a049;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}
label, input, textarea {
    margin-bottom: 10px;
}
input[type="submit"] {
    width: 100px;
    padding: 10px;
}

